body {
    margin: 0;
    padding: 0;
    background-color: #cfcaca;
    min-height: 100vh;
    /* position: relative;
    padding-bottom: 80px; */
}
header{
    position: sticky;
    top: 0;
}
.header {
    /* height: 100px; */
    display: flex;
  justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #cfcaca;
    align-self: flex-end;
    margin: 0;
    padding: 15px;
    /* padding-top: 10px; */
    /* padding-left: 50px; */
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); */
    /* vertical-align: baseline; */
}
.nav {
    /* display: flex; */
    justify-content: space-between;
    color: #cfcaca;
    text-decoration: none;
    font-size: 15px;
    align-self: flex-end;
    color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding-right: 40px; */
    padding: 20px;
    padding-right: 25px;

}

.container {
    position: sticky;
    top: 0;
    display: flex;
        justify-content: space-between;
        align-items: flex-end;
    /* flex-direction: column; */
    background-color: rgb(81, 82, 82);
    height: 80px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .7);
    color: #cfcaca;
}

.nav1 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}

.nav1:hover {
    background-color: #000000;
}

.nav2 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}

.nav2:hover {
    background-color: #000000;
}

.nav3 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}

.nav3:hover {
    background-color: #000000;
}

.footer {
    bottom: 0;
    position:sticky;top:100vh;
    display: flex;
    background-color: rgb(81, 82, 82);
    color: #cfcaca;
    font-size: 40px;
    font-family: "Brush Script MT";
    height: 50px;
    box-shadow: 0 -5px 5px 0px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* padding-top: 30px; */
    
}
.img{
    display: flex;
    width: 500px;
    height: 600px;
    padding-right: 40px;
    padding-top: 50px;
}
.home{
    display: flex;
    justify-content: space-around;
}
.div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    line-height: 1.5;
    width: 550px;
    padding-left: 70px;
    padding-top: 20px;
    /* width: 2000px; */
}

.emoji{
    /* height: 5px; */
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.Home1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h2about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center;
    align-items: center; */
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    width: 450px;
    height: 410px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    border-bottom: #000000 solid .5px;
    -webkit-box-shadow: 0 0px 6px 0px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
}
.h2sect{
    height: 200px;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}
.about{
    display: flex;
    justify-content:space-around;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 100px;
    padding-bottom: 25px;
    /* flex-direction: column; */
}
h3{
    padding: 5px;
    margin: 0;
    text-align: center;
}
.motorcycle{
    /* border: #000000 solid 1.5px; */
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
.football{
    display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
        border: #dddddd solid 1.5px;
        /* background-color: rgb(50, 52, 52); */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    /* padding-left: 5px; */
    width: 450px;
    padding: 10px;
    margin: 10px;
}
.wife{
    display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    /* background-color: rgb(50, 52, 52); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}

.music{
display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
.bourbon{
display: flex;
    justify-content: flex-start;
    align-items: space-between;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
.bike{
    justify-self: center;
    align-self: center;
    width: 440px;
    height: 500px;
    /* padding-bottom: 15px; */
    padding-top: 15px; 
}
.JJimg{
    justify-self: center;
        align-self: center;
        width: 440px;
        /* height: 500px; */
        /* padding-bottom: 15px; */
        padding-top: 15px;
}
.family{
    padding-top: 15px;
    height: 500px;
}

.rapper{
justify-self: center;
    align-self: center;
    width: 440px;
    padding-top: 15px;
}
.drink{
justify-self: center;
align-self: center;
padding-top: 35px;
width: 450px;
height: 500px;
}