body {
    margin: 0;
    padding: 0;
    background-color: #cfcaca;
    min-height: 100vh;
}
/* Header and Nav lines 10-40 */
header{
    position: sticky;
    top: 0;
}
.header {
    /* height: 100px; */
    display: flex;
  justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #cfcaca;
    align-self: flex-end;
    margin: 0;
    padding: 15px;
}
.nav {
    /* display: flex; */
    justify-content: space-between;
    color: #cfcaca;
    text-decoration: none;
    font-size: 15px;
    align-self: flex-end;
    color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    padding-right: 25px;
}
/* container for header and nav bar */
.container {
    position: sticky;
    top: 0;
    display: flex;
        justify-content: space-between;
        align-items: flex-end;
    background-color: rgb(81, 82, 82);
    height: 80px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .7);
    color: #cfcaca;
    border-radius: 8px;
}
/* individual nav edits 56-90 */
.nav1 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}

.nav1:hover {
    background-color: #000000;
}

.nav2 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}

.nav2:hover {
    background-color: #000000;
}

.nav3 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}

.nav3:hover {
    background-color: #000000;
}
.nav4 {
    color: inherit;
    font-weight: bolder;
    border: #cfcaca solid 2px;
    padding: 5px;
    text-decoration: none;
}
.nav4:hover {
    background-color: #000000;
}
/* footer for all pages */
.footer {
    bottom: 0;
    position:sticky;top:100vh;
    display: flex;
    background-color: rgb(81, 82, 82);
    color: #cfcaca;
    font-size: 40px;
    font-family: "Brush Script MT";
    height: 50px;
    box-shadow: 0 -5px 5px 0px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    border-radius: 8px;   
}
/* home image */
.img{
    display: flex;
    width: 500px;
    height: 600px;
    padding-right: 40px;
    padding-top: 50px;
}
/* home layout lines 117-125 */
.home{
    display: flex;
    justify-content: space-around;
}
.Home1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 'about' text lines 127-173*/
.div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    line-height: 1.5;
    width: 550px;
    padding-left: 70px;
    padding-top: 20px;
}
.h2sect{
    height: 200px;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}
/* battery emoji edits */
.emoji{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.h2about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    width: 450px;
    height: 410px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    border-bottom: #000000 solid .5px;
    -webkit-box-shadow: 0 0px 6px 0px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
}
/* about page layout */
.about{
    display: flex;
    justify-content:space-around;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 100px;
    padding-bottom: 25px;
}
/* all h3's */
h3{
    padding: 5px;
    margin: 0;
    text-align: center;
}
/* motorcycle section */
.motorcycle{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
/* football section */
.football{
    display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
        border: #dddddd solid 1.5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
/* wife and dogs section */
.wife{
    display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
/* music section */
.music{
display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
/* bourbon section */
.bourbon{
display: flex;
    justify-content: flex-start;
    align-items: space-between;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 450px;
    padding: 10px;
    margin: 10px;
}
/* motorcycle image */
.bike{
    justify-self: center;
    align-self: center;
    width: 440px;
    height: 500px;
    padding-top: 15px; 
}
/* football image  */
.JJimg{
    justify-self: center;
        align-self: center;
        width: 440px;
        padding-top: 15px;
}
/* wife and dogs image  */
.family{
    padding-top: 15px;
    height: 500px;
}
/* music image  */
.rapper{
justify-self: center;
    align-self: center;
    width: 440px;
    padding-top: 15px;
}
/* bourbon image  */
.drink{
justify-self: center;
align-self: center;
padding-top: 35px;
width: 450px;
height: 500px;
}
/* Portfolio CSS start */
/* header */
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        font-size: 40px;
    padding: 30px;
}
/* body alignment */
.Pbody{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.5;
}
/* individual section edits */
.P1{
    padding: 20px;
    width: 30%;
    border: #dddddd solid 1.5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.P2{
    padding: 20px;
    width: 30%;
    border: #dddddd solid 1.5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.P3{
    padding: 20px;
    width: 30%;
    border: #dddddd solid 1.5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
/* image edits */
.p1image{
    padding: 0;
    margin: 0;
    padding-top: 90px;
    width: 480px;
}
.p2image{
    padding: 0;
    margin: 0;
    padding-top: 90px;
    width: 480px;
}
.p3image{
    padding: 0;
    margin: 0;
    padding-top: 28px;
    width: 480px;
}
/* Header text align */
.p1head{
    text-align: center;
    text-decoration: underline;
    color: #000000;
}
.p2head{
    text-align: center;
    text-decoration: underline;
    color: #000000;
}
.p3head{
    text-align: center;
    text-decoration: underline;
    color: #000000;
}
/* link color */
a{
    color: inherit;
}
/* form css */
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: #dddddd solid 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    width: 500px;
    height: 350px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contacth2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 80px 0px 80px 0px;
}
.name {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 20px;
}
#fullname {
    background-color: #f5efef;
}
.email {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 20px;
}
#email {
    background-color: #f5efef;
}
.submit {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.textarea {
    margin-top: 5px;
}
#textarea {
    background-color: #f5efef;
}
.Form1 {
    display: flex;
    justify-content: center;
}